#logo img {
    width: auto;
    height: 30px;
}

#navbarCollapse {
    float: right !important;
}

.img-thumbnail {
    float: left;
    padding-left: 0;
}

.card-content {
    padding-left: 100px;
}