<!--The content below is only a placeholder and can be replaced.-->

<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="/" title="Pro-CME" rel="home" id="logo"><img src="https://spotlight.pro-c.me/sites/spotlight.pro-c.me/files/procme-logo.png" alt="Pro-CME" /></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>

<main role="main" style="padding-top: 80px">
<div class="container marketing">
  <div class="row" style="background-color: #B2D1C2;">
    <div class="col-lg-8" id="list">
      <ng-container *ngFor="let main of main_programs">
        <div class="list-element  main-card" style="background-color: whitesmoke; margin: 15px;">
          <h4>Spotlight on Internal Medicine</h4>
          <div class="img-thumbnail"><img style="width: auto; height: 100px;"src="https://spotlight.pro-c.me/sites/spotlight.pro-c.me/files/field_fb_authors_photo/Silverberg_Jonathan_0718%402x.jpg" /></div>
          <div class="card-content">
            <div>{{main._source.extra_fields.dgme_credits}}</div>
            <div>{{main._source.extra_fields.dgme_credit_type}}</div>
            <div>{{main._source.extra_fields.dgme_accreditor}}</div>
            <div><a target="_blank" [href]="main._source.extra_fields.article_url">{{main._source.title}}</a></div>
          </div>
        </div>
      </ng-container>
      <h4 style="margin-left:30px">Internal Medicine Presentations</h4>
      <ng-container *ngFor="let element of programs">
        <div class="list-element " style="background-color: whitesmoke; margin: 15px;">
          <div class="img-thumbnail"><img style="width: auto; height: 70px;"src="https://spotlight.pro-c.me/sites/spotlight.pro-c.me/files/field_fb_authors_photo/Silverberg_Jonathan_0718%402x.jpg" /></div>
          <div class="card-content">
          <div>{{element._source.extra_fields.dgme_credits}}</div>
          <div>{{element._source.extra_fields.dgme_credit_type}}</div>
          <div>{{element._source.extra_fields.dgme_accreditor}}</div>
          <div><a target="_blank" [href]="element._source.extra_fields.article_url">{{element._source.title}}</a></div>
            </div>
        </div>
      </ng-container>
    </div>
    <div class="col-lg-4" id="filter" style="background-color: whitesmoke; padding-top:30px;">
      <h3>Explore CME Activities For Your Specialty</h3>
      <p>Pro-CME showcases the best-in-class online continuing medical education programs developed for physicians, nurses, and healthcare professionals. We partner with leading medical and healthcare organizations to bring you top CME activities aimed at improving patient care and clinical outcomes. With a variety of multimedia program formats across 29 specialties, Pro-CME provides a destination for clinicians to participate in the latest educational activities for earning credit towards your CME/CE certification.</p>
      <ul>
        <ng-container *ngFor="let specialty of specialties">
          <li><a [href]="curr_url  + '?SpecialtyID=' + specialty">{{specialty}}</a></li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
</main>
<footer id ="footer"></footer>

<router-outlet></router-outlet>
