#logo img {
    width: auto;
    height: 30px;
}

#navbarCollapse {
    float: right !important;
}

.img-thumbnail {
    float: left;
    padding-left: 0;
}

.card-content {
    padding-left: 100px;
}

.main-card{
    height: 180px;
    margin-bottom:50px !important;
}

.list-element {
    padding: 15px;
}

a, a:hover {
    color: #0b683a;
}

h1, h2, h3, h4 {
    color: #0b683a !important;
}

